name: Lint

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

concurrency:
  group: >-
    ${{ github.workflow }}-
    ${{ github.event.pull_request.head.repo.full_name || github.repository }}-
    ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  eslint:
    name: ESLint
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    env:
      cache-path: ${{ github.workspace }}/node_modules/.cache/eslint
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 1

      - name: Setup pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: .node-version
          cache: pnpm

      - name: Install dependencies
        run: |
          pnpm install --frozen-lockfile

      - name: Create cache key
        id: cache-keys
        env:
          lockfile_hash: ${{ hashFiles('**/pnpm-lock.yaml') }}
        run: |
          cache_name="eslint"
          cache_platform="${RUNNER_OS}-${RUNNER_ARCH}-${lockfile_hash}"
          cache_primary_key="${cache_name}-${cache_platform}-${GITHUB_SHA}"
          cache_restore_key="${cache_name}-${cache_platform}-"
          echo "primary=${cache_primary_key}" >> "$GITHUB_OUTPUT"
          echo "restore=${cache_restore_key}" >> "$GITHUB_OUTPUT"

      - name: Cache ESLint
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: ${{ env.cache-path }}
          key: ${{ steps.cache-keys.outputs.primary }}
          restore-keys: ${{ steps.cache-keys.outputs.restore }}

      - name: Run ESLint
        env:
          cache_location: ${{ env.cache-path }}
        run: |
          pnpm exec eslint \
            --cache \
            --cache-location "$cache_location" \
            --cache-strategy content
